<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div id="fingering">
      <%= @fingering %>
    </div>

    <div id="notes">
      <%= @notes %>
    </div>

    <div id="info">
      <div id="note"></div>
      <div id="error"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
